[submodule "external/mesh-data-transfer"]
	path = external/mesh-data-transfer
	url = https://github.com/hannesdelbeke/mesh-data-transfer
[submodule "external/BakeNormalForLiltoonOutline"]
	path = external/BakeNormalForLiltoonOutline
	url = https://github.com/nukora/BakeNormalForLiltoonOutline
